{
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore"
}
